.minitel-screen-container {
    position: relative;
}

.minitel-oldeffect {
    position: relative;
    padding: 3%;
    background: #202020;
    border-radius: 6%;
}

.minitel-oldeffect-animated {
    animation: wobbley 100ms infinite;
}

@keyframes wobbley {
    0% {
        transform: translateY(0.2%);
    }
    100% {
        transform: translateY(0);
    }
}

.minitel-scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    background: linear-gradient(#202020F0 0%, #0000 30%, #0000 70%, #202020F0 100%);
    background-size: 100% 0.4%;
    aspect-ratio: 320/250;
    pointer-events: none;
}
