html {
	background: #000;
}

body {
	font-family: 'VT323', 'fixedsys', 'Courier', monospace;
	font-size: 14pt;
	color: #BFB;
	text-shadow: 0 0 0.2em #AEA;
	line-height: 1.0;
}

html, body, .helper {
	height: 100%;
	padding: 0;
	text-align: center;
}

.helper, #main {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#main {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background: #020 url('../img/bg.jpg');
	border-radius: 30pt / 30pt;
	padding: 8pt;
}

pre {
	font-family: 'VT323', 'fixedsys', 'Courier', monospace;
	font-size: 14pt;
}

a {
	color: white;
	text-shadow: 0 0 0.2em #EEE;
	text-decoration: none;

	-webkit-transition: background-color .25s ease-in-out;
}

a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#logo {
	margin-bottom: 8pt;
	display: inline-block;
}

#icons {
	width: 100%;
}

#icons tr td {
	text-align: center;
	padding-top: 16pt;
}

#icons a:hover {
	background-color: inherit;
}

#icons a .caption {
	-webkit-transition: background-color .25s ease-in-out;
}

#icons a:hover .caption {
	background-color: rgba(255, 255, 255, 0.2);
}

.icon {
	border-radius: 15pt / 15pt;
	background-color: rgba(255, 255, 255, 0.1);
	width: 160px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: background-color .25s ease-in-out;
}

.icon:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.icon div {
	width: 160px;
	height: 160px;
	-webkit-transition: background-image .25s ease-in-out;
}

.github {
	background-image: url('../img/github_green.png');
}

.github:hover {
	background-image: url('../img/github.png');
}

.playstore {
	background-image: url('../img/playstore_green.png');
}

.playstore:hover {
	background-image: url('../img/playstore.png');
}

.resume {
	background-image: url('../img/resume_green.png');
}

.resume:hover {
	background-image: url('../img/resume.png');
}

.stackoverflow {
	background-image: url('../img/stackoverflow_green.png');
}

.stackoverflow:hover {
	background-image: url('../img/stackoverflow.png');
}

.gplus {
	background-image: url('../img/gplus_green.png');
}

.gplus:hover {
	background-image: url('../img/gplus.png');
}


.twitter {
	background-image: url('../img/twitter_green.png');
}

.twitter:hover {
	background-image: url('../img/twitter.png');
}

hr {
	color: #040;
	background-color: #040;
	height: 1px;
	border: 0;
}
