@font-face {
  font-family: term;
  src: url("../fonts/term.ttf") format("truetype");
}

html {
	background: #000;
}

body {
	font-family: 'term', 'VT323', 'fixedsys', 'Courier', monospace;
	font-size: 16pt;
	color: #FFAC31;
	text-shadow: 0 0 0.4em #E08600;
	line-height: 1.0;
	perspective: 1000px;
}

html, body, .helper {
	height: 100%;
	padding: 0;
	text-align: center;
}

.helper, #main {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#main {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1F1200;
	border-radius: 30pt / 30pt;
	padding: 8pt;
	animation: anim-color 2s infinite alternate ease-in-out, anim-3d-x 3s infinite alternate ease-in-out, anim-3d-y 4s infinite alternate ease-in-out;
}

@keyframes anim-color {
	from {
		background-color: #1F1200;
	}
	to {
		background-color: #291800;
	}
}

@keyframes anim-3d-x {
	from {
		transform: rotateX(-.5deg);

	}
	to {
		transform: rotateX(.5deg);
	}
}

@keyframes anim-3d-y {
	from {
		transform: rotateY(-.5deg);

	}
	to {
		transform: rotateY(.5deg);
	}
}

pre {
	font-family: 'term', 'VT323', 'fixedsys', 'Courier', monospace;
	font-size: 16pt;
}

a {
	color: white;
	text-shadow: 0 0 0.4em #EEE;
	text-decoration: none;

	transition: background-color .25s ease-in-out;
}

a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#logo {
	margin-bottom: 8pt;
	display: inline-block;
}

#icons {
	width: 100%;
}

#icons tr td {
	text-align: center;
	padding-top: 16pt;
}

#icons a:hover {
	background-color: inherit;
}

#icons a .caption {
	transition: background-color .25s ease-in-out;
}

#icons a:hover .caption {
	background-color: rgba(255, 255, 255, 0.2);
}

.icon {
	border-radius: 15pt / 15pt;
	background-color: rgba(255, 255, 255, 0.1);
	width: 160px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
	transition: background-color .25s ease-in-out;
}

.icon:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.icon > * {
    filter: contrast(40%) sepia(100%) saturate(300%) hue-rotate(-10deg) brightness(70%) grayscale(20%);
}

.icon > *:hover {
    filter: none;
}

.icon div {
	width: 160px;
	height: 160px;
    transition: filter .25s ease-in-out;
	background-repeat: no-repeat;
	background-position: center;
}

.github {
	background-image: url('../img/github.png');
}

.playstore {
	background-image: url('../img/playstore.png');
}

.resume {
	background-image: url('../img/resume.png');
}

.stackoverflow {
	background-image: url('../img/stackoverflow.png');
}

.email {
	background-image: url('../img/email.svg');
}

.mastodon {
    background-image: url('../img/mastodon.svg');
}


hr {
	color: #7A4900;
	background-color: #7A4900;
	height: 1px;
	border: 0;
}
