html, body, .helper {
	height: inherit;
	padding: inherit;
	text-align: inherit;
	font-size: 12pt;
}

pre {
	font-size: 12pt;
}

.helper, #main {
	display: inherit;
	vertical-align: inherit;
	text-align: inherit;
}

#main {
	width: inherit;
	margin-left: inherit;
	margin-right: inherit;
}

.icon {
	width: 96px;
	height: 96px;
}

.icon div {
	background-size: 96px 96px;
	width: 96px;
	height: 96px;
	background-repeat: no-repeat;
	background-position: center;
}

.github {
	background-image: url('../img/github.png');
}

.playstore {
	background-image: url('../img/playstore.png');
}

.resume {
	background-image: url('../img/resume.png');
}

.stackoverflow {
	background-image: url('../img/stackoverflow.png');
}

.email {
	background-image: url('../img/email.svg');
}

.mastodon {
    background-image: url('../img/mastodon.svg');
}

