.minitel-screen-container {
    position: relative;
}

.minitel-oldeffect {
    position: relative;
    animation: wobbley 100ms infinite;
    padding: 40px;
    background: black;
    border-radius: 60px;
}

@keyframes wobbley {
    0% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

.minitel-scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    background: linear-gradient(
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.50) 50%
    ),
    linear-gradient(
            90deg, rgba(255, 0, 0, 0.08),
            rgba(0, 255, 0, 0.06),
            rgba(0, 0, 255, 0.08)
    );
    background-size: 100% 2px, 3px 100%;
    aspect-ratio: 320/250;
    pointer-events: none;
}
